* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF5EC;
}

header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10%;
  margin-top: 20px;
}

nav {
  float: right;
}

nav li {
  list-style: none;
  padding: 40px 20px;
  padding-left: 20px;
  float: left;
}

nav li a {
  text-decoration: none;
  text-transform: lowercase;
  color: #4F0113;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav li a:hover {
  text-decoration: none;
  color: #FFA17A;
}

.intro {
  padding: 200px 0; 
  color: #4F0113;
}

.intro .container {
  max-width: 800px; 
  margin: 0 auto;
  text-align: center;
}

.intro h1 {
  line-height: 1.5;
}

span{
  animation: blinker 1s linear infinte;
}

@keyframes blinker{
  50%{
    opacity: 0;
  }
}

.education-col {
  border: 2px solid #FFA17A;
  color: #4F0113;
  padding: 20px;
  margin-right: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.education-col ul {
  margin-left: 20px;
}

.experience-col ul {
  margin-left: 20px;
}

.experience-col {
  border: 2px solid #FFA17A;
  color: #4F0113;
  padding: 20px;
  margin-left: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}